
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.status{
  color:red;
}
.listItem{
  margin-bottom: 100px;
}

.userWrapper{
  display:flex;
  justify-content:space-between;
  align-items: center;
  
  
}
.userCheckWrapper {

  display:flex;
  justify-content: flex-start;
 
  
}

#usersItem{
  color: white;
  background: linear-gradient(rgb(142, 143, 142), rgb(55, 80, 136));
  box-shadow: 10px 5px 5px rgb(129, 105, 105);
  
 
}
.adressItems{
  text-indent: 50px;
}
.checkbox{

  color:white;
}
